.nav{
    padding-top: 20px;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
   height: 59px;
   background-color: black;
}
.active {
    color: #FFE600;
  }
.logo{
    font-size: 25px;
    color:#FFE600;
    text-decoration: none;
    font-weight: 700;
    line-height: 28.13px;
    padding-left: 20px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav li a{
    color: #fff;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: 20px;
}